
<footer class="footer">

    <ul class="footer__nav-list">        
      <li class="footer__nav-item footer__logo">
          <a href="/"><img class="logo" src="/image/logo.svg" alt="logo de l'enseigne"></a>
      </li>
      <li class="footer__nav-item hideOnMobile">
        <a class="footer__nav-link" href="/catalog">Catalogue</a>
      </li>
      <li class="footer__nav-item hideOnMobile">
        <a class="footer__nav-link" href="/contact">Contact</a>
      </li>
      <li class="footer__nav-item">
        <!-- <a class="footer__nav-link" href="#">Boutique</a> -->
      </li>
    

    <li class="footer__social-media">
      <a class="footer__social-media__link" href="">
        <img src="/image/icons/fb.png" alt="logo Facebook" aria-label="lien cliquable vers la page facebook de O'coffee">
      </a>
      <a class="footer__social-media__link" href="">
        <img src="/image/icons/insta.png" alt="logo Instagram" aria-label="lien cliquable vers la page instagram de O'coffee">
      </a>
      <a class="footer__social-media__link" href="">
        <img src="/image/icons/yt.png" alt="logo Youtube" aria-label="lien cliquable vers la page youtube de O'coffee">
      </a>
    </li>
  </ul>
  </footer>

</div>
</body>
</html>