<%- include('partials/header') %>

<main class="content">
  
    <img style="height: 100vh"class="banner__image" src="/image/404.webp" alt="" loading="lazy"  media="all">


</main>

<%- include('partials/footer') %>
